body{
    background-color: #999;
    padding: 0;
    margin: 0;
    height: 100%;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
}
.header h1{
    font-family: verdana;
    text-align: center;
}
.options{
    font-family: verdana;
    font-size: 0;
}
.options button{
    width: 33.33%;
    font-weight: bold;
    height: 30px;
    border: 0;
    font-size: 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.options button:hover{
    transition-duration: 300ms;
    color: blue;
    cursor: pointer;
    transform: scale(1.2);
    background-color: white;
}
.Map{
    border: 1px solid blue;
}

@media screen and (max-width: 300px){
    .container{
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }
    .header h1{
        font-family: verdana;
        text-align: center;
    }
    .options{
        font-family: verdana;
        font-size: 0;
    }
    .options button{
        width: 33.33%;
        font-weight: bold;
        height: 30px;
        border: 0;
        font-size: 15px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .options button:hover{
        transition-duration: 300ms;
        color: blue;
        cursor: pointer;
        transform: scale(1.2);
        background-color: white;
    }
    .Map{
        border: 1px solid blue;
        padding:0;
        margin: 0;
        width: 100%;
    }
}